.main{
    margin-top: -50px;
    z-index: 100;
    width: 90%;
    max-width: 1300px;
    margin: 20px auto;
}

.main__h3{
    text-align: center;
    font-size: 2.5em;
}


.contacto__h5{
    text-align: center;
    font-size: 2em;
}